
.divtainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 100px;
}

.form__header{
    background-color: #171717;
    color: #fff;
    padding: 15px 100px;
}
.form__formName{
    font-size: 2em;
    margin-top: 5px;
}

.form__ruta{
    color: #fff;
    text-decoration: none;
}

.form__title{
    font-size: 25px;
    margin-top: 15px;
    background-color: #002954;
    color: #fff;
    font-weight:600;
    padding: 5px 10px;
}

.form__subtitle{
    font-weight: bold;
    margin-bottom: 5px;
}

@media only screen and (max-width: 465px) {
    .divtainer{
        margin: 0;
    }
    .form__formName{
        font-size: 1em;
        margin-top: 5px;
    }
    .form__rutaCompleta{
        display: none;
    }

}