.ui__topBanner{
    padding: 0 100px;
}

.ui__headerLogo{
    margin: 15px 0;
}

.ui__headerNav{
    background-color: #002954;
    height: 30px;
}

.ui__Link{
    text-decoration: none;
    color: #000;
}

@media only screen and (max-width: 465px) {
    .ui__headerLogo{
        width: 100%;
    }
    
}